@model Utilisateur

<dl>
    <dt>Id :</dt>
    <dd>@Model.Id</dd>

    <dt>Nom :</dt>
    <dd>@Model.Nom</dd>

    <dt>Prénom :</dt>
    <dd>@Model.Prenom</dd>

    <dt>Email :</dt>
    <dd>@Model.Email</dd>

    <dt>Type :</dt>
    <dd>@Model.Type</dd>
</dl>

<a asp-controller="Utilisateurs" asp-action="Index">Retour à la liste</a>